<nav class="navbar bg-body-tertiary fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']"> <span>Voyage</span> Voyage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Voyage Voyage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body show">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['admin']" >Admin</a></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/add']" >Ajout voyage</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logOut()" >Se déconnecter</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

