<footer class="main-footer mt-4">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <div class="logo-widget footer-widget">
            <figure class="logo-box"><a href="#"><img src="https://www.kdpresse.com/upload/voyage_voyage_logo.png" alt=""></a></figure>
            <div class="text">
              <p>
                Voyage Voyage, l'agence qui vous ouvre les portes du monde,
                vous invite à embarquer pour des expériences uniques et inoubliables.
                Parcourez des destinations exotiques, explorez des cultures fascinantes et créez des souvenirs
                qui dureront toute une vie. Avec notre expertise et notre passion pour le voyage, nous sommes là pour faire
                de chaque étape de votre aventure une source d'émerveillement et de découverte.
              </p>
            </div>
            <ul class="footer-social">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
          <div class="service-widget footer-widget">
            <div class="footer-title">Services</div>
            <ul class="list">
              <li><a href="#">Water Surve</a></li>
              <li><a href="#">Education for all</a></li>
              <li><a href="#">Food Serving</a></li>
              <li><a href="#">Animal Saves</a></li>
              <li><a href="#">Help Orphan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- main-footer end -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 column">
        <div class="copyright"><a href="#">José</a> &copy; 2024 Tout les droit réserver</div>
      </div>
    </div>
  </div>
</div>
